<table class="table" *ngIf="!isLoading">
    <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td><img width="24px" src="{{user.avatar}}" alt="{{user.name}}"></td>
            <td>{{ user.name }}</td>
            <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
        </tr>
    </tbody>
</table>
<div style="margin: 120px 50%" class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
</div>